#ArticleSection {
    text-align: justify; 
    width: 60%; 
    margin-left: 7%;
}

body {
    height: 100%;
    padding: 0% 5%;
}

.article {
    text-align: justify; 
    width: 60%; 
    margin-left: 7%;
}

h1[id] {
    color: red;
}

img {
    width: 50%;
}