#ArticleSection {
    text-align: justify; 
    width: 60%; 
    margin: 0 auto;
}

body {
    height: 100%;
    padding: 0% 5%;
}

.article {
    text-align: justify; 
    width: 60%; 
    margin: 2% auto;
}

h1[id] {
    color: red;
}

img {
    width: 50%;
}

footer {
    margin: 0 auto;
    width: 60%;
}